{% extends 'generic/object.html' %}
{% load i18n %}

{% block content %}
  <div class="row mb-3">
    <div class="col col-12 col-md-6">
      <div class="card">
        <h2 class="card-header">{% trans "Interface" %}</h2>
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">{% trans "Device" %}</th>
            <td>{{ object.device|linkify }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Name" %}</th>
            <td>{{ object.name }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Description" %}</th>
            <td>{{ object.description|placeholder }} </td>
          </tr>
          <tr>
            <th scope="row">{% trans "IP Address" %}</th>
            <td>{{ object.ip_address|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Zone" %}</th>
            <td>{{ object.zone|linkify|placeholder }} </td>
          </tr>
          <tr>
            <th scope="row">{% trans "Type" %}</th>
            <td>{{ object.type|bettertitle|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Parent" %}</th>
            <td>{{ object.parent|linkify|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Enabled" %}</th>
            <td>{% checkmark object.enabled %}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Status" %}</th>
            <td>{% badge object.get_status_display bg_color=object.get_status_color %}</td>
          </tr>
        </table>
      </div>
    </div>
    
    <div class="col col-12 col-md-6">
      {% include 'inc/panels/related_objects.html' %}
      <div class="card">
        <h2 class="card-header">{% trans "Comments" %}</h2>
        <div class="card-body">
            {% if object.comments %}
            <span class="font-monospace small">{{ object.comments|linebreaksbr }}</span>
            {% else %}
            <span class="text-muted">{% trans "None" %}</span>
            {% endif %}
        </div>
      </div>
      {% include 'inc/panels/tags.html' %}
    </div>
    <div class="row mb-3">
      <div class="col col-md-12">
        {% include 'inc/panel_table.html' with table=child_interfaces_table heading="Child Interfaces" %}
      </div>
    </div>
  </div>
{% endblock %}