.dark {
  filter: invert(1) hue-rotate(180deg);
}

svg {
  display: block;
  margin: 0 auto;
}

.node, .host_label, .label1, .label2 {
  font-family: Arial, sans-serif;
  text-anchor: middle;
}

.label1 { font-size: 11px; text-anchor: start; }
.label2 { font-size: 11px; text-anchor: end; }
.host_label, .node { font-size: 12px; }

.node-symbol { font-size: 20px; text-anchor: middle; font-weight: 500;}
.node-symbol.allow { fill: green; }
.node-symbol.deny, .node-symbol.unknown { fill: red; }


body[data-bs-theme="dark"] #topology image.node {
  filter: invert(1) hue-rotate(180deg);
}

body[data-bs-theme="dark"] #topology line {
  stroke: #00FF00;
}

body[data-bs-theme="dark"] #topology text.node-symbol.allow {
  fill: #00FF00;
}


body[data-bs-theme="dark"] #topology text.node {
  fill: white;
}

body[data-bs-theme="dark"] #topology text.host_label {
  fill: white;
}
